<h1>New Entry</h1>

<form action="/entries" method="post">
  <p>
    <label for="field1">Title</label>
    <input type="text" name="title" id="field1">
  </p>

  <p>
    <label for="field2">Description</label>
    <input type="text" name="description" id="field2">
  </p>

  <p>
    <label for="field3">Posted On</label>
    <input type="text" name="posted_on" id="field3">
  </p>
  
  <p>
    <label for="field4">Place Id</label>
    <input type="text" name="place_id" id="field4">
  </p>

  <button>Submit</button>
<form>

title, description, posted on, place_id