<h1>Favorite Places I've Travled</h1>
<h2>I'm always exploring new places. Here are some of my top picks so far!</h2>

<ul>
  <% for place in @places %>
    <li>
      <a href="/places/<% place["id"] %>"><%= place["name"] %></a>
    </li>
  <% end %>
</ul>

<p>
  <a href="/places/new">Add a new place</a>
</p>

<p>
  <a href="/places">Back to all favorites</a>
<p>