<!-- Favorite Place details pages -->

<h1><%= @place["name"] %></h1>


<h2>Entries for this location</h2>

<p>
  <a href="/entries/new">Add a new entry</a>

<p>
  <a href="/places/new">Add a new place</a>
<p>

<p>
  <a href="/places">Back to all my favorite places</a>
</p>  